body {
	font-family: 'PT Sans', sans-serif;
}

/* Thanks */

#thanks-container {
	padding: 20px;
	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	line-height: 28px;
	font-size: 18px;
}

#thanks-heading {
	margin-bottom: 60px;
	font-size:40px;
	font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
}

/* Links */

#social-media-links {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align:center;
	width:100%;
}

.logos {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-right: 10px;
}

/* Contact us */

#contact-bar {
	height: 200px;
	display:flex;
	text-align:center;
	background-color: #eee;
}

#nav-homepage {
	padding: 5% 0;
	height: 100%;
	width: 50%;
	background-color: black;
	color: white;
	font: 40px 'PT Sans', sans-serif;
}

.contact-item {  
	padding: 5% 0;
	height:100%;
	width: 25%;
	border: 2px solid #000;
	border-left: 0px;
	border-color: black;
}

.mail-links {
	text-decoration: none;
	color: black;
	font-weight: 800;
}